@media all and (max-width : 767px){
     .w-40{
          width: 34%;
     }
     .img img{
          width: 65px !important;
     }
}
@media all and (max-width : 400px){
     .img img{
          width: 40px !important;
     }
}